@import '../../style/colors.scss';


.weight {
    background: $background-default-color;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    // font-family: @default-font-family;
    color: #fff;
    position: absolute;
    bottom: 1rem;
    left: 14rem;

    &-quantity{
      font-size: 42px;
      line-height: 22px;
      position: relative;
      top: 20px;
    }

    &-measure{
      font-size: 22px;
      position: absolute;
      bottom: 0.4rem;
      left: 2rem;
    }

    &-disabled{
      background: $background-disabled-color;
    }
    
    &-active{
        background: $background-selected-color
    }
  }